 table {
            width: 60%;
            margin-top: 20px;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
        input {
            padding: 6px;
            margin: 5px;
        }
        button {
            cursor: pointer;
            padding: 7px 12px;
        }